/* Police */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* Racine */
body{
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
    
}
.flex{
    display: flex;
}

.centred {
    margin: 0 auto;    
    max-width: 1340px;
}

a {
    text-decoration: none;
}
/* Header */

header{
    margin-bottom: 35px;
    padding-top: 50px;
}

.menu li{
    list-style: none;
}

.logo{
    flex: 1;
}
.en-cours{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    font-weight: 550;
}
nav ul {
    margin : 0;
}

nav a{
    padding: 48px 30px 0;
    text-decoration: none;

}

.inscrire{
    text-decoration: none;
    color: #0065FC;
    font-weight: 650;
}

nav li a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
/* Contenu */ 
.sectiontitle{
    width: 100%;
}

.hosting{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.mainhosting{
    display: flex;
    width: 68%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 0 40px 0 40px;
}
    .hostingitem{
        margin-bottom: 30px;
        width: calc(33% - 2rem);
        min-width: 200px;
        max-width: calc(33% - 2rem);
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 4px 4px 15px lightgray;
    }
    .hostingitem img{
        width: 100%;
        border-radius: 10px 10px 0 0;
        height: 126px;
        object-fit: cover;
}
.hotelDetails{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    padding: 5px 10px;
}
.hotelDetails p{
    font-size: small;
    margin: 5px 0;
}
.hostingName{
    margin: 0;
    font-weight: 700;
    font-size: 1.1rem;
}
.hostingRate{
    word-spacing: -1ch;
    font-size: small;
}
.prix{
    font-weight: 600;
}
.BStars{
    color: #0065FC;
}
.GStar{
    color: #f2f2f2;
}

.popularhosting{
    display: flex;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 0 40px 0 40px;
    width: 18%;
}


/* Footer */

.footercontainer{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.footerul {
    list-style: none;
    padding : 0;
}
.footerul li:first-child{
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}
.footerul a{
    text-decoration: none;
}
.footercontainer{
    background-color: #f2f2f2;
}
